#game-container {
    position: absolute;
    width: 1000px;
    height: 550px; 
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    position: absolute;
    width: 1000px;
    height: 550px;
    border: 5px solid black;
    top : 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

#start-screen, #pause-screen, #end-screen {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

#start-screen {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
}

#pause-screen {
    display: none;
    background-color: rgba(0, 0, 0, 0.98);
}

#end-screen {
    display: none;
    background-color: rgba(0, 200, 0, 0.8);
}

#start-screen h1, #pause-screen h1, #end-screen h1 {
    font-size: 66px;
    color: white;
}

#start-screen p, #pause-screen p, #end-screen p {
    font-size: 20px;
    color: white;
}

#play-button {
    padding: 10px 20px;
    background-color: rgba(255, 60, 0, 1);
    color: white;
    border: 10px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

#health-bar {
    position: absolute;
    left: -24px;
    top: 0;
    width: 20px;
    height: 558px;
    background: linear-gradient(to bottom, green, yellow, orange, red);
    border: 1px solid black;
}

#health-bar-depleter {
    position: relative;
    height: 0%;
    background: white;
}
  
#timer {
    position: absolute;
    right: -95px;
    top: 0;
    width: 80px;
    height: 50px;
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
}
  
.wall, #player {
    display: none;
}
